<ul class="faq-list">
    <li><a href="#basic00">Is there a direct download link for IrfanView and Plugins?</a></li>
    <li><a href="#basic01">How do I create a slideshow on a CD that starts automatically when you insert the CD?</a></li>
    <li><a href="#basic02">Sometimes I get the error message "Video not available, cannot find decompressor." What's wrong?</a></li>
    <li><a href="#basic03">How to reduce saved file size?</a></li>
    <li><a href="#basic04">IrfanView shows all my images in black and white! Why?</a></li>
    <li><a href="#basic05">IrfanView can't read filenames/paths with chinese, japanese, polish etc. characters.</a></li>
    <li><a href="#basic06">How to use JPG lossless operations (Rotation, IPTC, Comment) in batch mode?</a></li>
    <li><a href="#basic07">Is there a portable IrfanView version (for USB sticks, CDs etc.)?</a></li>
    <li><a href="#basic08">How can I make IrfanView as my default viewer?</a></li>
    <li><a href="#basic09">If I save some images as JPG and set the file size option, I receive a save error message. Why?</a></li>
    <li><a href="#basic10">Why is RAW loading slow (Camera RAW formats, e.g. CR2)?</a></li>
    <li><a href="#basic11">Why are some edit menus or the red eye menu greyed out?</a></li>
    <li><a href="#basic12">How to sort pictures by date-taken?</a></li>
    <li><a href="#basic13">How to use Batch conversion/rename to sort result pictures in folders with date-taken in folder name?</a></li>
    <li><a href="#basic14">How can I batch rename "JPG" files to "jpg" (lower case extensions)?</a></li>
    <li><a href="#basic15">How can I add background sound for automatic slideshow or EXE/SCR?</a></li>
    <li><a href="#basic16">Why I can't scroll a large, zoomed (larger than screen) image in fullscreen mode using arrow/page keys?</a></li>
    <li><a href="#basic17">I downloaded IrfanView (or PlugIns) but when I start it, I get the message "This is not a valid Win32 application"?</a></li>
    <li><a href="#basic18">Why is the saved JPG file much bigger than the original JPG file?</a></li>
    <li><a href="#basic19">Is IrfanView compatible with Windows 8/Windows 7/Vista/XP 64 bit?</a></li>
    <li><a href="#basic20">How can I create selection with exact size or ratio?</a></li>
    <li><a href="#basic21">How can I prepare my photos (e.g. format 4:3) to be correct (no cropping/edges, etc.) when using a Photo printing service?</a></li>
    <li><a href="#basic22">How can I tag a file during browsing?</a></li>
    <li><a href="#basic23">How can I insert another image into the current image?</a></li>
    <li><a href="#basic24">Why are IrfanView Thumbnails images not clear?</a></li>
    <li><a href="#basic25">On Win7 and Win8, the system always asks me to start Irfanview as Administrator, why?</a></li>
    <li><a href="#basic26">How can I change the icon for IrfanView associations?</a></li>
    <li><a href="#basic27">The icons on my desktop are wrong, all show IrfanView/Firefox/etc. icon. How can I fix that?</a></li>
    <li><a href="#basic28">How can I save result files in the original/source folder?</a></li>
    <li><a href="#basic29">IrfanView shows all images distorted/stretched! Why?</a></li>
    <li><a href="#basic30">When I resize/resample an image, the image size doesn't change. Why?</a></li>
    <li><a href="#basic31">How to extract images from the EXE Slideshow?</a></li>
    <li><a href="#basic32">How to change JPG IPTC/Comment data for many images (batch mode)?</a></li>
    <li><a href="#basic33">Are the JPG editing options for IPTC/Comment lossless?</a></li>
    <li><a href="#basic34">How can I use IrfanView to set a random file from a folder/filelist as wallpaper?</a></li>
    <li><a href="#basic35">How can I load only desired file types during the browsing?</a></li>
    <li><a href="#basic36">How to exclude specific file extensions (e.g. TXT) from browsing through directory?</a></li>
    <li><a href="#basic37">IrfanView can load e.g. CR2 files, but the files are not shown in the Thumbnail window?</a></li>
    <li><a href="#basic38">If I decrease the color depth to 8 or less BPP, the saved JPG file is always 24 BPP?</a></li>
    <li><a href="#basic39">How can I change the desktop icon for IrfanView?</a></li>
    <li><a href="#basic40">How can I load file types WITHOUT any extension during the browsing?</a></li>
    <li><a href="#basic41">How to print only a part of the image?</a></li>
    <li><a href="#basic42">How load PDF files in IrfanView?</a></li>
    <li><a href="#basic43">How to print many files (batch print)?</a></li>
    <li><a href="#basic44">How can I add a Speech bubble/balloon to an image?</a></li>
    <li><a href="#basic45">How to open current IrfanView file in Windows Explorer?</a></li>
    <li><a href="#basic46">How to print many images on one page?</a></li>
    <li><a href="#basic47">Is IrfanView compatible with Windows 95 or 98?</a></li>
    <li><a href="#basic48">Is there a way to do batch scanning without having an ADF scanner?</a></li>
    <li><a href="#basic49">How to use Unicode (e.g. Chinese) text in the Insert-Text dialog?</a></li>
    <li><a href="#basic50">When I play video files I get the error "MMSYSTEMxxx, no device ...". Why?</a></li>
    <li><a href="#basic51">How can I play QuickTime (MOV) files with IrfanView?</a></li>
    <li><a href="#basic52">IrfanView won't save settings! Why?</a></li>
    <li><a href="#basic53">The Add button in the slideshow/batch dialog won't add the selected file to the file list.</a></li>
    <li><a href="#basic54">The thumbnail window crashes if I have many files in a folder!</a></li>
    <li><a href="#basic55">When I capture a video, why is the screen black?</a></li>
    <li><a href="#basic56">When I click a thumbnail in the thumbnail window nothing happens, the image will not be displayed in the main window!</a></li>
    <li><a href="#basic57">I get an error message "Cannot find the file [path] or one of its components". What is the problem?</a></li>
    <li><a href="#basic58">IrfanView runs/starts very slowly on my system! Why?</a></li>
    <li><a href="#basic59">The screensaver created by IrfanView shows just few images and then exits. Why?</a></li>
    <li><a href="#basic60">Is it necessary to uninstall the older version before installing the newer version?</a></li>
    <li><a href="#basic61">Can I use IrfanView on Linux?</a></li>
    <li><a href="#basic62">Can I use IrfanView on Mac?</a></li>
    <li><a href="#basic63">How can I convert e.g. a BMP image/file to JPG?</a></li>
    <li><a href="#basic64">Do I need IrfanView PlugIns?</a></li>
    <li><a href="#basic65">How can I add background sound to a VCD (Video CD)?</a></li>
    <li><a href="#basic66">Does IrfanView contain Spyware or Viruses, etc.?</a></li>
</ul>

@views.html.faqTabs.qa("basic00", "Is there a direct download link for IrfanView and Plugins?"){
    <p>Yes, please visit www.irfanview.com/download.html</p>
    <em>
        Please take care when downloading IrfanView from software sites which are not listed on the download page.
        Some sites use custom/unknown downloaders which can contain malware, and some sites ask you to pay.
        IrfanView is free for personal use. The original filenames and SHA-checksums for IrfanView and Plugins
        can be found on the downloads page.
    </em>
}

@views.html.faqTabs.qa("basic01", "How do I create a slideshow on a CD that starts automatically when you insert the CD?"){
    <p>
        You can create either a self running EXE slideshow file (in the slideshow dialog) or you can copy the
        original files to the CD and use a TXT file. The easiest way is to:
    </p>
    <ol>
        <li>Create and test (play) the slideshow in the Slideshow dialog.</li>
        <li>Press in the slideshow dialog the button Burn to CD/DVD. (Note: The Burning/Nero PlugIn for IrfanView must be installed.)</li>
        <li>Choose the burn option, Data-CD/DVD is default/recommended.</li>
        <li>Insert empty CD/DVD-R/-RW in your burning device and burn it.</li>
    </ol>
    <p>Please consult the in-program-help (press F1) for more details</p>
}

@views.html.faqTabs.qa("basic02", "Sometimes I get the error message \"Video not available, cannot find decompressor.\" What's wrong?"){
    <p>
        The correct video codec is not installed. See the "Image->Information" menu for the codec name,
        and download the correct codec. A good codec pack is the
        <a href="http://www.codecguide.com/download_k-lite_codec_pack_mega.htm" target="_blank">K-Lite Codec Pack</a>.
        It contains most popular video/audio codecs. If you don't want to download K-Lite, you can probably find the
        correct codec on one of these sites:
    </p>
    <ul>
        <li><a href="http://www.free-codecs.com" target="_blank">Free-Codecs.com</a></li>
        <li><a href="http://codecs.necromancers.ru" target="_blank">All Codecs and Decompressors</a></li>
        <li><a href="http://codecguide.com/" target="_blank">Codec-Guide</a></li>
        <li><a href="http://www.fourcc.org/indexcod.htm" target="_blank">www.FOURCC.org - Video Codec Definitions</a></li>
        <li><a href="http://www.microsoft.com/downloads/results.aspx?productID=&freetext=media+8&DisplayLang=en" target="_blank">Microsoft Codecs</a></li>
        <li><a href="http://www.videohelp.com" target="_blank">VideoHelp.com</a></li>
    </ul>
}

@views.html.faqTabs.qa("basic03", "How to reduce JPG file size?"){
    <p>
        In 4.20, a new JPG save option "Set file size" was introduced (IrfanView PlugIns must be installed).
        To do it manually:
    </p>
    <ol>
        <li>Open the image.</li>
        <li>Go to menu Image->Resize/Resample and reduce the image dimensions in pixels.</li>
        <li>Go to menu File->Save as, choose JPG and save as new file (try options like lower JPG quality, uncheck EXIF, etc.).</li>
        <li>Look at the file size of the new file. If still too big, repeat using smaller dimensions and/or lower quality.</li>
    </ol>
    <em>For many images, use File->Batch Conversion, Advanced options.</em>
}

@views.html.faqTabs.qa("basic04", "IrfanView shows all my images in black and white! Why?"){
    <p>
        The load option for JPGs "Load as grayscale" in "Properties->JPG/PCD/GIF" is probably activated, please uncheck!
        <br>
        Note: in the Save dialog, see JPG format save options. The option "Save as grayscale" should not be active.
    </p>
}

@views.html.faqTabs.qa("basic05", "IrfanView can't read filenames/paths with chinese, japanese, polish etc. characters."){
    <p>Please activate the UNICODE PlugIn in Properties->Languages.</p>
}

@views.html.faqTabs.qa("basic06", "How to use JPG lossless operations (Rotation, IPTC, Comment) in batch mode?"){
    <p>
        Start the Thumbnail window, open the folder with JPGs, select many JPGs and see
        in thumbnail menu File for JPG Lossless Operations -> Lossless transformations with selected thumbs.
        <br>
        Note: The auto-rotation option works only if the EXIF orientation tag is properly saved (not top-left).
    </p>
}

@views.html.faqTabs.qa("basic07", "Is there a portable IrfanView version (for USB sticks, CDs etc.)?"){
    <p>Yes, every IrfanView version is portable. You can:</p>
    <ol>
        <li>Copy your existing/installed IrfanView folder to USB stick (recommended), or</li>
        <li>Use the normal installer and install IrfanView to an USB stick folder, or</li>
        <li>Use the ZIP version and unzip to a USB stick folder.</li>
    </ol>
    Note: the ZIP version of IrfanView is always available on www.irfanview.com/download.html.
}

@views.html.faqTabs.qa("basic08", "How can I make IrfanView as my default viewer?"){
    <p>Start IrfanView, go to 'Properties->Extensions' and associate your desired extensions.</p>
}

@views.html.faqTabs.qa("basic09", "If I save some images as JPG and set the file size option, I receive a save error message. Why?"){
    <p>
        You can't reach every possible file size using JPG compression.
        The JPG file/image can't be saved smaller than the JPG file/image with quality of 1, means there are
        certain limitations regarding minimal JPG file size. If you set a smaller file size than JPG (with quality of 1)
        can compress, you will get an error message. If you want to reach the desired file size, you have to resize the
        image first (reduce image dimensions in menu: Image->Resize) OR disable the file size option and save only
        using JPG quality.
    </p>
}

@views.html.faqTabs.qa("basic10", "Why is RAW loading slow (Camera RAW formats, e.g. CR2)?"){
    <p>
        This depends which RAW plugin options are used in 'Properties->PlugIns'.
        The preview option is the fastest,
        Half-size is fast and if both are deactivated: the full RAW image is loaded => very slow.
    </p>
}

@views.html.faqTabs.qa("basic11", "Why are some edit menus or the red eye menu greyed out?"){
    <p>
        Many edit options or red eye reduction works on selections only.
        Create first a selection (outline rectangle) in the image using the left mouse button.
    </p>
}

@views.html.faqTabs.qa("basic12", "How to sort pictures by date-taken?"){
    <p>Open Thumbnails window and load a folder. See thumbnails sort menu, use Sort by EXIF date. </p>
}

@views.html.faqTabs.qa("basic13", "How to use Batch conversion/rename to sort result pictures in folders with date-taken in folder name?"){
    <p>
        In the Batch dialog, you can use Placeholders in the name of the output directory.
        If you set a directory name like "C:\sorted images\$E36868(%Y_%m_%d)\",
        you will save the result files in folders with date-taken (format: YYYY_MM_DD) in folder name,
        like "C:\sorted images\2011_06_23\".
    </p>
}

@views.html.faqTabs.qa("basic14", "How can I batch rename \"JPG\" files to \"jpg\" (lower case extensions)?"){
    <p>
        In the Batch-Conversion dialog use the rename pattern: $N.jpg
        (Be sure you only have JPG files selected/added to the input list).
    </p>
}

@views.html.faqTabs.qa("basic15", "How can I add background sound for automatic slideshow or EXE/SCR?"){
    <p>
        In the slideshow dialog put/add MP3 files into the slideshow file list, usually at the begin or before an image.
        The MP3 file is played until it ends or until next MP3 is loaded from the file list.
        IrfanView PlugIns should be also installed, at least the MP3 PlugIn.
    </p>
}

@views.html.faqTabs.qa("basic16", "Why I can't scroll a large, zoomed (larger than screen) image in fullscreen mode using arrow/page keys?"){
    <p>
        Either is the image not really larger than screen or the option
        Properties->Browsing/Editing->Jump to next image ... active, please uncheck.
    </p>
}

@views.html.faqTabs.qa("basic17", "I downloaded IrfanView (or PlugIns) but when I start it, I get the message \"This is not a valid Win32 application\"?"){
    <p>
        This message is shown for damaged/incomplete EXE files, probably a download error.
        Download again, try another mirror or location.
    </p>
}

@views.html.faqTabs.qa("basic18", "Why is the saved JPG file much bigger than the original JPG file?"){
    <p>
        The JPG file size depends primary on JPG save quality, in the Save dialog options.
        Normal quality is 75 or 80, higher values will produce larger result files.
    </p>
}

@views.html.faqTabs.qa("basic19", ""){
    <p>Yes (like probably 99% of all 32 bit programs)</p>
}

@views.html.faqTabs.qa("basic20", "How can I create selection with exact size or ratio?"){
    <p>See in menu: Edit->Create custom crop selection (or other selection menus).</p>
}

@views.html.faqTabs.qa("basic21", "How can I prepare my photos (e.g. format 4:3) to be correct (no cropping/edges, etc.) when using a Photo printing service?"){
    <p>
        Most photo printing services use formats 3:2 or 2:3 (10x15 cm or 4x6 inches) for photos. If your images
        (e.g. from a compact digital camera) are 4:3 or 3:4 (see in Image->Info menu in IrfanView, Original size ratio),
        you should better crop the desired image area in format 3:2 or 2:3 and print the cropped image. The steps:
    </p>
    <ol>
        <li>Open the image in IrfanView (see Image->Info, see if the original size is not alredy 3:2 or 2:3).</li>
        <li>Go to menu: Edit->Create maximized selection. For landscape images use 3:2, for portrait images use 2:3.</li>
        <li>See the selection rectangle. If you want to move it, use either mouse (right mouse button click inside of the selection) or arrow keys on keyboard.</li>
        <li>When the selection is OK, use either menu: Edit->Crop and then File->Save-As or better: Options->JPG Lossless Crop, to save the selected image.</li>
        <li>Use the new file for printing services.</li>
    </ol>

}

@views.html.faqTabs.qa("basic22", "How can I tag a file during browsing?"){
    <p>See the Hotkeys help file page. Tag a file with X, untag with SHIFT+X, use SHIFT+Q to show all tagged files in Thumbnails window.</p>
}

@views.html.faqTabs.qa("basic23", "How can I insert another image into the current image?"){
    <p>
        First copy a picture (which should be inserted) to clipboard, e.g. in another IrfanView instance.
        Now open the right image, use mouse to select a rectangle (or use: Edit->Create custom selection)
        and if you now use: Edit->Paste, the image from clipboard will be inserted into selection.
        In properties->editing, you can set to fit or stretch a pasted image into selection.
    </p>
}

@views.html.faqTabs.qa("basic24", "Why are IrfanView Thumbnails images not clear?"){
    <p>See in Thumbnails Windows options menu/dialog. Deactivate the option 'Load EXIF-Thumbnail for JPGs'.</p>
}

@views.html.faqTabs.qa("basic25", "On Win7 and Win8, the system always asks me to start Irfanview as Administrator, why?"){
    <p>
        Somebody, (not IrfanView), set the program properties to "Run as administrator".
        Disable this option (right click on IrfanView icon/EXE, Properties, tab: Compatibility)
        and run IrfanView normally. Actually, no option should be selected in the Compatibility tab for IrfanView.
    </p>
}

@views.html.faqTabs.qa("basic26", "How can I change the icon for IrfanView associations?"){
    <p>Go to Properties->Extensions and choose the Icons button. Here you can set other icon(s) for associated file types.</p>
}

@views.html.faqTabs.qa("basic27", "The icons on my desktop are wrong, all show IrfanView/Firefox/etc. icon. How can I fix that?"){
    <p>
        This is usually a problem with the LNK file association, not caused by IrfanView. Go to Google and search for
        e.g "LNK association fix". You will probably get several hits for sites offering a REG file for LNK fix.
        Here are some sites:
    </p>
    <ul>
        <li><a href="http://www.winhelponline.com/blog/file-asso-fixes-for-windows-7/" target="_blank">LNK fix for Windows 7</a></li>
        <li><a href="http://support.microsoft.com/kb/950505" target="_blank">Microsoft Knowledge Base</a></li>
        <li><a href="http://www.winhelponline.com/blog/how-to-rebuild-the-icon-cache-in-windows-vista/" target="_blank">How to Rebuild the Icon Cache in Windows Vista and Windows 7</a></li>
        <li><a href="http://www.winhelponline.com/blog/unassociate-file-types-windows-7-vista/" target="_blank">A Utility to unassociate File Types in Windows 7 and Vista</a></li>
        <li><a href="http://www.techsupportall.com/file-association-fix-for-windows-7/" target="_blank">File association fix for windows 7</a></li>
        <li><a href="http://www.vistax64.com/tutorials/233243-default-file-type-associations-restore.html" target="_blank">Default File Type Associations - Restore</a></li>
    </ul>
}

@views.html.faqTabs.qa("basic28", "How can I save result files in the original/source folder?"){
    <p>
        Use Advanced batch options, activate the option Create subfolders in destination folder.
        As destination folder (main batch dialog), set the root folder of your input files, e.g. C:\,
        if all input files are located on C drive.
    </p>
}

@views.html.faqTabs.qa("basic29", "IrfanView shows all images distorted/stretched! Why?"){
    <p>
        A view menu option like "Fit images to desktop" is activated (or a similar view option),
        please uncheck and try another display option, e.g. 1:1 to see the original size.
    </p>
}

@views.html.faqTabs.qa("basic30", "When I resize/resample an image, the image size doesn't change. Why?"){
    <p>
        A view menu option like "Fit images to desktop" is activated (or a similar view option),
        please uncheck and try another display option, e.g. 1:1 to see the original size.
    </p>
}

@views.html.faqTabs.qa("basic31", "How to extract images from the EXE Slideshow?"){
    <p>Start the EXE and press F1 for help. Use E hotkey for extraction.</p>
}

@views.html.faqTabs.qa("basic32", "How to change JPG IPTC/Comment data for several images (batch mode)?"){
    <p>
        In the Thumbnails window, select the JPG images and use the menu JPG Lossless Operations.
        The data for the first image is applied to all files. The IPTC dialog offers additional options.
    </p>
}

@views.html.faqTabs.qa("basic33", "Are the JPG editing options for IPTC/Comment lossless?"){
    <p>Yes, the image itself is <em>not</em> recompressed.</p>
}

@views.html.faqTabs.qa("basic34", "How can I use IrfanView to set a random file from a folder/filelist as wallpaper?"){
    <p>Use the command line options: /random and /wall, see i_options.txt for examples.</p>
}

@views.html.faqTabs.qa("basic35", "How can I load only desired file types during the browsing?"){
    <p>
        Go to Properties->Extensions, edit the file extensions in field Load custom file types;
        delete unwanted or add special (but supported!) extensions.
    </p>
}

@views.html.faqTabs.qa("basic36", "How to exclude specific file extensions (e.g. TXT) from browsing through directory?"){
    <p>
        Go to Properties->Extensions, edit the file extensions in field Load custom file types;
        delete unwanted or add special (but supported!) extensions.
    </p>
}

@views.html.faqTabs.qa("basic37", "IrfanView can load e.g. CR2 files, but the files are not shown in the Thumbnail window?"){
    <p>
        Go to Properties->Extensions, edit the file extensions in field Load custom file types;
        delete unwanted or add special (but supported!) extensions.
    </p>
}

@views.html.faqTabs.qa("basic38", "If I decrease the color depth to 8 or less BPP, the saved JPG file is always 24 BPP?"){
    <p>
        Please note that a JPG can be only saved as 24 BPP or 8 BPP grayscale image. JPG do not allow other BPP values.
        If you want other BPP values, please use formats like PNG, TIF, BMP, etc.
    </p>
}

@views.html.faqTabs.qa("basic39", "How can I change the desktop icon for IrfanView?"){
    <p>
        This is a standard Windows feature. Right click on the desktop icon, then 'Properties'.
        Now you can set another icon (change icon) or remove/change the hotkey for the program start.
    </p>
}

@views.html.faqTabs.qa("basic40", "How can I load file types WITHOUT any extension during the browsing?"){
    <p>
        Go to Properties->Extensions, edit the file extensions in field Load custom file types; add a | at the end,
        to create an empty extension entry. Optional: go to Properties->File Handling and disable the option:
        Ask to rename if incorrect extension.
    </p>
}

@views.html.faqTabs.qa("basic41", "How to print only a part of the image?"){
    <p>Use left mouse button to select the desired part in the image, then use the Print menu.</p>
}

@views.html.faqTabs.qa("basic42", "How load PDF files in IrfanView?"){
    <p>
        Install IrfanView and PlugIns. Install Ghostscript from e.g.
        <a href="http://sourceforge.net/projects/ghostscript/" target="_blank">here</a>.
    </p>
}

@views.html.faqTabs.qa("basic43", "How to print many files (batch print)?"){
    <p>In the Thumbnails window, you can select many images/files and use the menu Print selected files as single images.</p>
}

@views.html.faqTabs.qa("basic44", "How can I add a Speech bubble/balloon to an image?"){
    <p>
        First find some nice/empty bubble/balloon images, e.g. on sites like: http://openclipart.org/detail/38593 or
        similar websites (search on Google for "Speech bubble balloon"). You will get best results if you have
        such balloon images saved as transparent PNGs. Now you can add the balloon image to your normal image using
        the menu: Edit->Insert overlay/watermark image. Later you can select the inside of the balloon/text area and
        insert text into the balloon.
    </p>
}

@views.html.faqTabs.qa("basic45", "How to open current IrfanView file in Windows Explorer?"){
    <p>
        You can define Windows Explorer as one of the external editors (Properties->Misc).
        The correct command is like: explorer "/n,/select,"%1
    </p>
}

@views.html.faqTabs.qa("basic46", "How to print many images on one page?"){
    <p>
        In the Thumbnails window, use the menu Create contact sheet from selected thumbs.
        The result image(s) can be printed or saved.
    </p>
}

@views.html.faqTabs.qa("basic47", "Is IrfanView compatible with Windows 95 or 98?"){
    <p>Yes, IrfanView is compatible with Windows 95, 98, 98 SE and Windows ME and all newer versions.</p>
}

@views.html.faqTabs.qa("basic48", "Is there a way to do batch scanning without having an ADF scanner?"){
    <p>Yes, uncheck the option in menu: File -> Acquire/Batch scanning -> Close TWAIN dialog after acquiring image.</p>
}

@views.html.faqTabs.qa("basic49", "How to use Unicode (e.g. Chinese) text in the Insert-Text dialog?"){
    <p>
        Go to Windows Control Panel, Regional and Language settings (advanced settings),
        choose "Chinese" for the option "Language for non-Unicode programs".
    </p>
}

@views.html.faqTabs.qa("basic50", "When I play video files I get the error \"MMSYSTEMxxx, no device ...\". Why?"){
    <p>
        Please search <a href="http://www.microsoft.com/" target="_blank">
        http://www.microsoft.com</a> for more info about the message number. In some cases a fix is available.
    </p>
}

@views.html.faqTabs.qa("basic51", "How can I play QuickTime (MOV) files with IrfanView?"){
    <p>
        If you want to play QuickTime files: Install Apple QuickTime, install IrfanView PlugIns.
        Activate the Quicktime PlugIn for IrfanView in Properties->Video/Sound.
    </p>
}

@views.html.faqTabs.qa("basic52", "IrfanView won't save settings! Why?"){
    <p>
        There are 2 possibilities, first: your INI (i_view32.ini) file (or whole IrfanView folder) is set to read-only,
        please change that; second: some "smart" washer/restore tools/plugins are washing too much, please exclude
        IrfanView files/folder from such actions. You can also redirect the INI file to another folder
        (see another question below); also possible during the installation.
    </p>
}

@views.html.faqTabs.qa("basic53", "The Add button in the slideshow/batch dialog won't add the selected file to the file list."){
    <p>
        There is a Windows Explorer "feature": Hide file extensions for known file types.
        Please deactivate this default (and stupid) Explorer option to show files with their real names and extensions!
    </p>
}

@views.html.faqTabs.qa("basic54", "The thumbnail window crashes if I have many files in a folder!"){
    <p>
        This is a Windows 9x/XP bug (now also on Windows 7 64 bit => Blue screen, Windows bug), the max. number of
        files in the folder is system dependent. WinNT/Win2K works fine. Try to split files to several folders.
    </p>
}

@views.html.faqTabs.qa("basic55", "When I capture a video, why is the screen black?"){
    <p>
        Try to disable video acceleration in Settings -> Control Panel -> Display -> Throubleshooting,
        during the screenshots. Or start a second player instance and try to capture it.
    </p>
}

@views.html.faqTabs.qa("basic56", "When I click a thumbnail in the thumbnail window nothing happens, the image will not be displayed in the main window!"){
    <p>
        You have an old version of the "comctl32.dll", please update this Windows component from the MS homepage,
        search for Comctl32.dll update.
    </p>
}

@views.html.faqTabs.qa("basic57", "I get an error message \"Cannot find the file [path] or one of its components\". What is the problem?"){
    <p>Start IrfanView, go to 'Properties->Extensions' and associate your file types again.</p>
}

@views.html.faqTabs.qa("basic58", "IrfanView runs/starts very slowly on my system! Why?"){
    <p>Probably an old anti virus program or another background software is running, which causes such problems. Check your system.</p>
}

@views.html.faqTabs.qa("basic59", "The screensaver created by IrfanView shows just few images and then exits. Why?"){
    <p>The problem is caused by another running software, which kills the saver. Check your system.</p>
}

@views.html.faqTabs.qa("basic60", "Is it necessary to uninstall the older version before installing the newer version?"){
    <p>No, you can install a new version over any older version. After install, just refresh your associations/options under Properties->Extensions.</p>
}

@views.html.faqTabs.qa("basic61", "Can I use IrfanView on Linux?"){
    <p>
        Yes. There is no native-Linux version of IrfanView. However, you can use IrfanView in conjunction with
        Linux programs like WINE, Windows Linux emulators and Linux-based virtual machines.
        Take the ZIP version of IrfanView and unzip it or copy your existing Windows IrfanView folder to Linux.
        This is easier because the installer may need additional Windows DLLs to run. See instructions on:
        <a href="http://www.boekhoff.info/?pid=linux&amp;tip=install-irfan-view-on-linux" target="_blank">IrfanView on Linux with Wine</a>
    </p>
}

@views.html.faqTabs.qa("basic62", "Can I use IrfanView on Mac?"){
    <p>
        Yes, probably. There is no native-Mac version of IrfanView. However, you can use IrfanView in conjunction
        with Mac program like WineBottler/DARWINE. Take the ZIP version of IrfanView and unzip it or copy your
        existing Windows IrfanView folder to Mac. This is easier because the installer may need
        additional Windows DLLs to run.
    </p>
}

@views.html.faqTabs.qa("basic63", "How can I convert e.g. a BMP image/file to JPG?"){
    <p>
        Open a BMP file using the File->Open menu. Now go to File->Save as menu, choose JPG as output format,
        set the new file name/folder and save. If you want to convert many files, use the Batch Conversion.
        See also <a href="http://www.youtube.com/watch?v=cj-rDx1hH4A" target="_blank"> this video</a>.
    </p>
}

@views.html.faqTabs.qa("basic64", "Do I need IrfanView PlugIns?"){
    <p>
        Probably not. All basic options/features/PlugIns are included in the standard IrfanView installation.
        PlugIns usually contain special file formats. If you need a special PlugIn, IrfanView will show you an
        error message and then you can/should install all other PlugIns.
    </p>
}

@views.html.faqTabs.qa("basic65", "How can I add background sound to a VCD (Video CD)?"){
    <p>This is not possible by the VCD specification.</p>
}

@views.html.faqTabs.qa("basic66", "Does IrfanView contain Spyware or Viruses, etc.?"){
    <p>
        No. If your anti virus program reports a virus or spyware in IrfanView downloaded from the official homepages,
        you should either update the anti virus program or use a better one. Remember to check the checksums to make sure
        you have an official file.
    </p>
}