
<h3>You can download old IrfanView versions from these sites:</h3>
<ul>
    <li><a href="http://www.oldapps.com/irfanview.php" target="_blank">Oldapps.com</a></li>
    <li><a href="http://www.oldversion.com/IrfanView.html" target="_blank">Oldversion.com</a></li>
    <li><a href="http://www.downloadoldversion.com/irfanview.html" target="_blank">DownloadOldVersion.com</a></li>
</ul>
<p>There are always numerous changes, so only the most important are included here</p>


<h4>Version 4.38 ( - CURRENT VERSION - ) (Release date: 2014-06-23)</h4>
<ul>
    <li>New Options menu/feature: Export image tiles (split image)</li>
    <li>New Options menu: Hotfolder (Watch folder and show new images)</li>
    <li>New view modes in Thumbnails window: Tiles, Details and List mode</li>
    <li>New feature: (new) "IrfanView Shell Extension" available on PlugIns website (= adds Context menu with some IrfanView operations to Windows Explorer) Thanks to Michael Dunn!</li>
    <li>New options in the "Adobe 8BF filters" dialog (Thanks to Frank/jazzman)</li>
    <li>Improved speed in the LCMS (Color Management) PlugIn</li>
    <li>Added support for old formats like: Amiga, Atari, C64, ZX Spectrum etc. Thanks to Piotr Fusik! (RECOIL support in Formats PlugIn)</li>
    <li>New Print dialog features: Borderless print, Negative positions, better preview</li>
    <li>New command line option: /makecopy, a flag for /convert => if destination file exists, save new file as copy: (1), (2), (3) etc.</li>
    <li>Option to add max. 10 external editors (for advanced users): Properties->Misc</li>
    <li>Option to Drag&Drop current file to other programs: SHIFT + left mouse + drag</li>
    <li>New Print dialog option: Always use default printer at dialog start</li>
    <li>New hotkey: CTRL + SHIFT + N = Negative image (all channels)</li>
    <li>Better support for high resolution screens (high DPI)</li>
    <li>Several PlugIns are changed/updated, please install the newest versions</li>
</ul>

<a href="@controllers.routes.Application.changeLog()">Show full changelog</a>