<h3>SHA-256 checksums</h3>

<h4>IrfanView 4.38</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <td style="width: 20%">Release</td>
            <td style="width: 80%">Checksum</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>iview438_setup.exe</td>
            <td>0cf69ff91696589ae6ff8809845c9a8b5d2b1ebd952ccc5402c75037bcd11818</td>
        </tr>
        <tr>
            <td>iview438.zip</td>
            <td>9ec8dd3ed56cdc3432e89134297262331fcb96facb1fe9c2a655db758fbda6fa</td>
        </tr>
        <tr>
            <td>iview438g_setup.exe</td>
            <td>f971b278fff35dab0ceaa5702ed01a3c15f363eba12a7ae55e40282575c42f8b</td>
        </tr>
        <tr>
            <td>iview438g.zip</td>
            <td>e2d6b5ebf17ffb893e26881e0c4566519aa2ef0b7d2ddd0c7248c5ebc9a35b8b</td>
        </tr>
    </tbody>
</table>

<h4>IrfanView 4.37</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <td style="width: 20%">Release</td>
            <td style="width: 80%">Checksum</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>iview437_setup.exe</td>
            <td>Some checksum</td>
        </tr>
        <tr>
            <td>iview437.zip</td>
            <td>Some checksum</td>
        </tr>
        <tr>
            <td>iview437g_setup.exe</td>
            <td>Some checksum</td>
        </tr>
        <tr>
            <td>iview437g.zip</td>
            <td>Some checksum</td>
        </tr>
    </tbody>
</table>
