<div class="row">
    <div class="col-sm-6">
        <h3>IrfanView main program</h3>
        <ul class="download-list">
            @views.html.downloadTabs.downloadCell("cnet.png", "", "CNET")
            @views.html.downloadTabs.downloadCell("brosoft.png", "", "Brothersoft")
            @views.html.downloadTabs.downloadCell("fileforum.png", "", "Fileforum")
            @views.html.downloadTabs.downloadCell("techspot.png", "", "TechSpot")
            @views.html.downloadTabs.downloadCell("tucows.png", "", "Tucows")
        </ul>
    </div>
    <div class="col-sm-6">
        <h3>All IrfanView plugins</h3>
        <ul class="download-list">
            @views.html.downloadTabs.downloadCell("fileforum.png", "", "Fileforum")
        </ul>
    </div>
</div>