<div class="row">
    <div class="col-sm-6">
        <h3>IrfanView main program</h3>
        <ul class="download-list">
            @views.html.downloadTabs.downloadCell("cnet.png", "http://download.cnet.com/IrfanView/3000-2192_4-10021962.html?part=dl-IrfanView&subj=dl&tag=button", "CNET")
            @views.html.downloadTabs.downloadCell("brosoft.png", "http://www.brothersoft.com/download-irfanview-6224.html", "Brothersoft")
            @views.html.downloadTabs.downloadCell("fileforum.png", "http://fileforum.betanews.com/detail/967963863/1", "Fileforum")
            @views.html.downloadTabs.downloadCell("techspot.png", "http://www.techspot.com/downloads/299-irfanview.html", "TechSpot")
            <li><a href="http://www.tucows.com/preview/194967" target="_blank"><h4>Download from Tucows</h4></a></li>
            <li><a href="http://www.heise.de/software/download/irfanview/1965" target="_blank"><h4>Download from Heise</h4></a></li>
            <li><a href="http://www.fosshub.com/IrfanView.html" target="_blank"><h4>Download from FossHub</h4></a></li>
            <li><a href="http://www.programosy.pl/program,irfanview.html" target="_blank"><h4>Download from Programosy.pl</h4></a></li>
            <li><a href="http://pc-intern.com/downloads-4433.html" target="_blank"><h4>Download from PC-intern.com</h4></a></li>
            <li><a href="http://www.computerbild.de/programme/IrfanView_902306.html" target="_blank"><h4>Download from Computer Bild</h4></a></li>
            <li><a href="http://www.pc-magazin.de/download/irfanview-553259.html" target="_blank"><h4>Download from PC Magazin</h4></a></li>
            <li><a href="http://www.winsoftware.de/irfanview,9,2.htm" target="_blank"><h4>Download from winsoftware.de</h4></a></li>
            <li><a href="http://www.chip.de/downloads/c1_downloads_12998187.html" target="_blank"><h4>Download from CHIP Online</h4></a></li>
            <li><a href="http://www.freeware.de/download/irfanview_4247.html" target="_blank"><h4>Download from Freeware.de</h4></a></li>
            <li><a href="http://domainunion.de/irfanview/" target="_blank"><h4>Download from domainunion</h4></a></li>
            <li><a href="http://majorgeeks.com/IrfanView_d4253.html" target="_blank"><h4>Download from Major Geeks</h4></a></li>
            <li><a href="http://www.pcwelt.de/downloads/Bildbetrachter-IrfanView-579197.html" target="_blank"><h4>Download from PC Welt</h4></a></li>
            <li><a href="http://www.download.hr/software-irfanview.html" target="_blank"><h4>Download from download.hr</h4></a></li>
            <li><a href="http://www.download3k.com/Photo-Graphic/Viewers/Download-Irfan-Skiljan-IrfanView.html" target="_blank"><h4>Download from download3k.com</h4></a></li>
            <li><a href="http://www.filehippo.com/download_irfanview/" target="_blank"><h4>Download from FileHippo</h4></a></li>
            <li><a href="http://www.filepuma.com/download_irfanview_203/" target="_blank"><h4>Download from Filepuma</h4></a></li>
            <li><a href="http://www.forest.impress.co.jp/library/software/irfanview/" target="_blank"><h4>Download from Windows Forest Archive</h4></a></li>
            <li><a href="http://www.zdnet.de/windows_bildbearbeitung_irfanview_download-39002345-23438-1.htm" target="_blank"><h4>Download from ZDNet.de</h4></a></li>
            <li><a href="http://www.downloadmix.com/en-us/software/detail/irfanview/1781/" target="_blank"><h4>Download from DownloadMix.de</h4></a></li>
            <li><a href="http://download.freenet.de/Irfan-View-Windows--4062.xhtml?sess=bca605b21a09e9983129102d7e95b96c" target="_blank"><h4>Download from Freenet.de</h4></a></li>
            <li><a href="http://www.netzwelt.de/software/3828-irfanview.html" target="_blank"><h4>Download from Netzwelt.de</h4></a></li>
            <li><a href="http://download82.com/download-irfanview/" target="_blank"><h4>Download from Download82</h4></a></li>
            <li><a href="http://www.instalki.pl/programy/download/Windows/przegladarki_grafiki/IrfanView.html" target="_blank"><h4>Download from Instalki.pl</h4></a></li>
            <li><a href="http://www.frettts-freeware.com/graphic.html" target="_blank"><h4>Download from Frettts-Freeware</h4></a></li>
            <li><a href="http://www.wintotal.de/softw/?id=499" target="_blank"><h4>Download from WinTotal.de</h4></a></li>
            <li><a href="http://www.altech-ads.com/product/10000152.htm" target="_blank"><h4>Download from Altech</h4></a></li>
            <li><a href="http://www.bestfreewaredownload.com/freeware/t-free-irfanview-freeware-auwczmcc.html" target="_blank"><h4>Download from Best Freeware Download</h4></a></li>
            <li><a href="http://irfanview.angololibero.it/" target="_blank"><h4>Download from angololibero.it</h4></a></li>
            <li><a href="http://www.softpedia.com/get/Multimedia/Graphic/Graphic-Viewers/IrfanView.shtml" target="_blank"><h4>Download from softpedia</h4></a></li>
            <li><a href="http://www.filecluster.com/downloads/IrfanView.html" target="_blank"><h4>Download from filecluster.com</h4></a></li>
            <li><a href="http://www.niredo.com/foto_see/85-irfan-view.html" target="_blank"><h4>Download from niredo</h4></a></li>
            <li><a href="http://www.php-shops.de/downloads/grafik-bildbearbeitung/download-irfanview/" target="_blank"><h4>Download from php-shops.de</h4></a></li>
            <li><a href="http://www.filehorse.com/download-irfanview/" target="_blank"><h4>Download from filehorse</h4></a></li>
            <li><a href="http://www.skidajmo.com/Grafika/IrfanView/" target="_blank"><h4>Download from Skidajmo.com</h4></a></li>
            <li><a href="http://www.indir.com/irfanview/" target="_blank"><h4>Download from Indir.com</h4></a></li>
            <li><a href="http://www.tamindir.com/program/2675/IrfanView.htm" target="_blank"><h4>Download from Tamindir.com</h4></a></li>
        </ul>
    </div>
    <div class="col-sm-6">
        <h3>All IrfanView plugins</h3>
        <ul class="download-list">
            @views.html.downloadTabs.downloadCell("brosoft.png", "http://www.brothersoft.com/download-irfanview-all-plugins-164981.html", "Brothersoft")
            @views.html.downloadTabs.downloadCell("fileforum.png", "http://fileforum.betanews.com/detail/1099412658/1", "Fileforum")
            @views.html.downloadTabs.downloadCell("techspot.png", "http://www.techspot.com/downloads/472-irfanview-plugins.html", "TechSpot")
            @views.html.downloadTabs.downloadCell("tucows.png", "http://www.tucows.com/preview/415586", "Tucows")
            <li><a href="http://www.majorgeeks.com/IrfanView_PlugIns_d4908.html" target="_blank"><h4>Download from Major Geeks</h4></a></li>
            <li><a href="http://www.pcwelt.de/downloads/Plugin-Sammlung-IrfanView-PlugIns-584479.html" target="_blank"><h4>Download from PC Welt</h4></a></li>
            <li><a href="http://www.computerbild.de/programme/IrfanView-PlugIns_1170942.html" target="_blank"><h4>Download from Computer Bild</h4></a></li>
            <li><a href="http://www.forest.impress.co.jp/library/software/irfanview/" target="_blank"><h4>Download from Windows Forest Archive</h4></a></li>
        </ul>
    </div>
</div>