
<h3>How to install additional languages for IrfanView?</h3>
<ol>
    <li>Download language file (see below)</li>
    <li>Unzip the downloaded file into your "IrfanView\Languages\" folder</li>
    <li>Start IrfanView and go to "Properties->Language"</li>
</ol>
<p>
    Please use always latest IrfanView version and latest language versions.
    Keep in mind that US English is always included.
</p>
<p><strong>A huge THANKS to all users/translators sending me new languages and updates!</strong></p>

<h3>Available languages for version 4.38</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <td style="width: 70%;">Language</td>
            <td style="width: 10%;">Installer</td>
            <td style="width: 10%;">ZIP</td>
            <td style="width: 10%;">Help file</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>German</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_deutsch.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_deutsch.zip">ZIP</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>French</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_french.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_french.zip">ZIP</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>Spanish</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_spanish.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_spanish.zip">ZIP</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>Chinese</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_chinese.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_chinese.zip">ZIP</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>Russian</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_russian.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_russian.zip">ZIP</a></td>
            <td>Included</td>
        </tr>
        <tr>
            <td>Nederlands</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_nederlands.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_nederlands.zip">ZIP</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>Italian</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_italian.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_italian.zip">ZIP</a></td>
            <td></td>
        </tr>
        <tr>
            <td>Czech/Cesky</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_czech.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_czech.zip">ZIP</a></td>
            <td><a href="http://www.irfanview.net/lang/help_cz.zip">Help file</a></td>
        </tr>
        <tr>
            <td>Polski</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_polski.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_polski.zip">ZIP</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>Svenska/Swedish</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_swedish.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_swedish.zip">ZIP</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>Ukrainian</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_ukrainian.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_ukrainian.zip">ZIP</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>Hungarian</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_hungarian.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_hungarian.zip">ZIP</a></td>
            <td>Included</td>
        </tr>
        <tr>
            <td>Slovak</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_slovak.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_slovak.zip">ZIP</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>Japanese</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_japanese.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_japanese.zip">ZIP</a></td>
            <td>Included</td>
        </tr>
        <tr>
            <td>Greek/Hellenic</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_greek.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_greek.zip">ZIP</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>Catalan</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_catalan.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_catalan.zip">ZIP</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>Turkish</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_turkish.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_turkish.zip">ZIP</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>Arabic</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_arabic.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_arabic.zip">ZIP</a></td>
            <td>Included</td>
        </tr>
        <tr>
            <td>British English</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_english_gb.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_english_gb.zip">ZIP</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>Bulgarian</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_bulgarian.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_bulgarian.zip">ZIP</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>Estonian</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_estonian.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_estonian.zip">ZIP</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>Slovenscina</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_slovenscina.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_slovenscina.zip">ZIP</a></td>
            <td>-</td>
        </tr>
    </tbody>
</table>

<h3>Available languages for version 4.37</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <td style="width: 70%;">Language</td>
            <td style="width: 10%;">Installer</td>
            <td style="width: 10%;">ZIP</td>
            <td style="width: 10%;">Help file</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Indonesian (Bahasa Indonesia)</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_indonesian.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_indonesian.zip">ZIP</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>Romanian</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_romanian.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_romanian.zip">ZIP</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>Hebrew</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_hebrew.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_hebrew.zip">ZIP</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>Korean</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_korean.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_korean.zip">ZIP</a></td>
            <td>-</td>
        </tr>
    </tbody>
</table>

<h3>Available languages for version 4.36/4.35</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <td style="width: 70%;">Language</td>
            <td style="width: 10%;">Installer</td>
            <td style="width: 10%;">ZIP</td>
            <td style="width: 10%;">Help file</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Portugues-Brasil</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_portugues-brasil.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_portugues-brasil.zip">ZIP</a></td>
            <td>Included</td>
        </tr>
        <tr>
            <td>Dansk</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_dansk.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_dansk.zip">ZIP</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>Uzbek</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_uzbek.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_uzbek.zip">ZIP</a></td>
            <td>-</td>
        </tr>
    </tbody>
</table>

<h3>Available languages for version 4.33/4.30/4.28</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <td style="width: 70%;">Language</td>
            <td style="width: 10%;">Installer</td>
            <td style="width: 10%;">ZIP</td>
            <td style="width: 10%;">Help file</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Hrvatski</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_hrvatski.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_hrvatski.zip">ZIP</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>Kurdish</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_kurdish.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_kurdish.zip">ZIP</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>Finnish</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_finnish.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_finnish.zip">ZIP</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>Latvian</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_latvian.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_latvian.zip">ZIP</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>Srpski</td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_srpski.exe">Installer</a></td>
            <td><a href="http://www.irfanview.net/lang/irfanview_lang_srpski.zip">ZIP</a></td>
            <td>-</td>
        </tr>
    </tbody>
</table>

<h3>For Translators</h3>
<p>If you want to translate IrfanView to another languages, download the language SDK:</p>
<ul>
    <li><a href="http://www.irfanview.net/lang/irfanview_language_sdk.zip">Server 1</a></li>
    <li><a href="http://www.irfanview.info/lang/irfanview_language_sdk.zip">Server 2</a></li>
</ul>

<p>Please check "README.TXT" file. You need "Microsoft Visual C++" or a tool like "Resource Hacker" for translating.</p>