<h3>How to install IrfanView Plugins? </h3>
<ol>
    <li>Download all Plugins (see below)</li>
    <li>Click on the PlugIn file (irfanview_plugins_XYZ_setup.exe</li>
    <li>Plugins will be installed into IrfanView "Plugins" directory</li>
</ol>

<p>
    Note: A normal IrfanView version includes the following (most important) Plugins:
    Effects, Paint, Ansi2Unicode, Icons, Slideshow-EXE, RegionCapture, Tools, Video.
</p>

<h3>The current Plugins version is: 4.38</h3>

<ol>
    <li>
        You can download ALL Plugins as one large EXE (recommended):
        <a href="http://www.brothersoft.com/download-irfanview-all-plugins-164981.html" target="_blank">
            Brothersoft.com - download IrfanView plugins
        </a>
    </li>
    <li>
        You can download ALL Plugins as one large ZIP:
        <a href="http://www.irfanview.info/files/irfanview_plugins_438.zip">irfanview_plugins_438.zip</a>
    </li>
</ol>

<h4>Special PlugIn: "IrfanView Shell Extension"</h4>
<p>
    This PlugIn shows a Context menu for some IrfanView operations in Windows Explorer or other file managers. You can select several files and: Play slideshow,
    Load files in Thumbnails window, Start JPG Lossless Rotation or Convert images to another format.<br>
    Download: <a href="http://www.irfanview.net/plugins/irfanview_shell_extension_plugin.exe">Installer</a>
    (SHA-256 checksum: f929d5093f71293ed0d4e9959df26364258ffb715c44fc26611c488bdd2dadbf)<br>
    or <a href="http://www.irfanview.net/plugins/irfanview_shell_extension.zip">ZIP</a> (SHA-256 checksum: 218d3fab236b8788421c4349668c6ddc3d5bd553282170349299aa9c2148a869)<br>
</p>

<h4>You can download the Plugins as 4 separate ZIP files (for experienced users!):</h4>
<ol>
    <li>
        <a href="http://www.irfanview.info/files/iv_mmedia.zip">iv_mmedia.zip</a>.
        Contains these Plugins: IV_Player, Med, Mp3, Burning, Nero, Quicktime, Real Audio, SoundPlayer.
    </li>
    <li>
        <a href="http://www.irfanview.info/files/iv_formats.zip">iv_formats.zip</a>.
        Contains these Plugins: Awd, B3d, BabaCAD4Image, Crw, CADImage, Dicom, DjVu, EaFsh, Ecw, Exr, Flash, Formats, Fpx, Hdp, Ics,
        ImPDF, ImPDN, ImCXF, JPEG2000, Jpeg_LS, Jpm, Kdc, Mng, Mrc, MrSID, PhotoCD, PNGOUT, Postscript, RIOT, Sff, Wbz, WebP, Wsq, Vtf.
    </li>
    <li>
        <a href="http://www.irfanview.info/files/iv_effects.zip">iv_effects.zip</a>.
        Contains these Plugins: Filter Sandbox, Filter Factory, Filters Unlimited.
    </li>
    <li>
        <a href="http://www.irfanview.info/files/iv_misc.zip">iv_misc.zip</a>.
        Contains these Plugins: Email, Metadata, FaceDetect, Ftp, Jpg_Transform, Lcms.
    </li>
</ol>

<h4>Plugins updated after the version 4.38:</h4>
<ul><li>None</li></ul>

<h4>Available Plugins and current versions:</h4>
<ul>
    <li>AltaLux - (version 1.6.1.87): allows IrfanView to use AltaLux image effect</li>
    <li>Ansi2Unicode - (version 0.2.7): allows IrfanView to read filenames with Unicode characters
    </li>
    <li>AWD - (version 1.3.0.4): allows IrfanView to read Artweaver files
    </li>
    <li>B3D - (version 4.22): allows IrfanView to read BodyPaint 3D files
    </li>
    <li>BabaCAD4Image - (version 1.2): allows IrfanView to to read DXF and DWG CAD files
    </li>
    <li>BURNING - (version 4.36): allows IrfanView to burn slideshow to a CD/DVD/BD
        (Windows XP SP3 or later required)
    </li>
    <li>BURNINGOLD - (version 4.36): allows IrfanView to burn slideshow to a CD
        (Windows XP or later required, Nero option can burn Data DVD and VCD)
    </li>
    <li>CADImage - (version 9.0.0.1): allows
        IrfanView to read DXF/DWG/HPGL/CGM/SVG files (Shareware, third party plugin)
        Newest versions under: <a href="http://www.cadsofttools.com/download/irfanviewplugins.zip">http://www.cadsofttools.com/download/irfanviewplugins.zip</a>
    </li>
    <li>CRW - (version 4.22): allows IrfanView to read Canon CRW/CR2
        files (high resolution image version)
        Note: this PlugIn requires additional Canon DLLs.
        You can download these DLLs with the
        Canon ZoomBrowser program:
        <a href="http://www.canon.com/">http://www.canon.com/</a>
        or try here:
        <a href="http://www.irfanview.info/plugins/canon_crw.zip">http://www.irfanview.info/plugins/canon_crw.zip</a>
        (check "Readme.txt" for instructions and install!)
    </li>
    
    <li>DICOM - (version 4.20): allows
        IrfanView to read Dicom formats (DCM, ACR, IMA)</li>
    <li>DJVU - (version 4.35): allows
        IrfanView to read DJVU format</li>
    <li>EA_FSH - (version 1.12): allows
        IrfanView to write EA Sports FSH files</li>
    <li>ECW - (version 4.33): allows
        IrfanView to read/write ECW files (Enhanced Compressed Wavelet)</li>
    <li>EFFECTS - (version 4.38):
        contains image effects and allows IrfanView to load Adobe Photoshop 8BF filters
        Note: some nice (fixed menu) Adobe 8BF Plugins/effects can be downloaded/installed from:
        <a href="http://www.irfanview.net/plugins/irfanview_adobe_8bf_plugins.exe">http://www.irfanview.net/plugins/irfanview_adobe_8bf_plugins.exe</a> (Installer)
        or
        <a href="http://www.irfanview.net/plugins/irfanview_adobe_8bf_plugins.zip">http://www.irfanview.net/plugins/irfanview_adobe_8bf_plugins.zip</a>
        
        Note: some older/special 8BFs may require additional system DLLs: Msvcrt10.dll and/or Plugin.dll. You can download these DLLs here:
        <a href="http://irfanview.tuwien.ac.at/plugins/8bf_tools.zip">http://irfanview.tuwien.ac.at/plugins/8bf_tools.zip</a>
        (check "Readme.txt" for instructions and install!)
    </li>
    <li>EMAIL - (version 4.30): allows
        IrfanView to send images as emails</li>
    <li>EXR - (version 4.22): allows
        IrfanView to read EXR files</li>
    <li>FACEDETECT - (version 2.00):
        allows IrfanView to use the Face Detection feature from Thumbnails window
        If you have a modern graphic card which can be used for additional calculations, you can try the GPU version of the plugin:
        <a href="http://www.irfanview.info/plugins/facedetect_gpu.zip">http://www.irfanview.info/plugins/facedetect_gpu.zip</a>
    </li>
    <li>FILTER_FACTORY - (version 4.33):
        allows IrfanView to use Filter Factory 8BF files (Photoshop Plugins)</li>
    <li>FLASH - (version 2.2.0.1): allows
        IrfanView to read Flash/Shockwave/FLV format</li>
    <li>FORMATS - (version 4.38): allows IrfanView to read some rare image formats. (Formats: PSP, G3, RAS, IFF/LBM,
        BioRAD, Mosaic, XBM, XPM, GEM-IMG, SGI, RLE,WBMP, TTF, FITS, PIC, HDR, MAG, WAD, WAL, DNG, EEF, NEF, ORF, RAF,
        MRW, DCR, SRF/ARW, PEF, X3F, CAM, SFW, YUV, PVR, SIF and old/retro formats from Amiga, Atari, C64,
        ZX Spectrum etc.)</li>
    <li>FPX - (version 4.36): allows
        IrfanView to read FlashPix files</li>
    <li>FTP - (version 4.00): allows
        IrfanView to transfer files from Thumbnails window using FTP</li>
    <li>FILTERS_UNLIMITED - (version 3.20):
        allows IrfanView to use Filters Unlimited files (Photoshop Plugins and filters)</li>
    <li>HDP - (version 4.33): allows
        IrfanView to read Jpeg-XR/HDP/WDP (Microsoft HD Photo) files</li>
    <li>ICONS - (version 4.30): additional
        icons for IrfanView file associations</li>
    <li>ICS - (version 4.22): allows
        IrfanView to read ICS files (Image Cytometry Standard)</li>
    <li>IMPDF - (version 0.90): allows
        IrfanView to write PDF files (Portable Document Format)</li>
    <li>IMPDN - (version 1.16): allows
        IrfanView to read PDN files (Paint.NET File Format)</li>
    <li>IMXCF - (version 1.10): allows
        IrfanView to read XCF files (GIMP File Format)</li>
    <li>IRFANVIEW SANDBOX - (version 1.20): allows
        IrfanView to use JewelScript Effects/Filters</li>
    <li>IV_PLAYER - (version 3.35):
        allows IrfanView to play video/sound/audio-cd files using Windows Media
        Player</li>
    <li>JPEG2000 - (version 4.33):
        allows IrfanView to read/write JPEG 2000 files</li>
    <li>JPEG_LS - (version 0.6.4.1):
        allows IrfanView to read/write JPEG-LS files</li>
    <li>JPG_TRANSFORM - (version 4.38):
        allows IrfanView to support lossless JPG operations (rotation/crop/cleaning, EXIF date editing, EXIF thumb update)</li>
    <li>JPM - (version 4.34):
        allows IrfanView to read/write JPM files</li>
    <li>KDC - (version 1.54): allows
        IrfanView to read Kodak Digital Camera files</li>
    <li>LCMS - (version 4.38): allows
        IrfanView to use color management</li>
    <li>MED - (version 3.30): allows
        IrfanView to play MED/OctaMED audio files</li>
    <li>METADATA - (version 4.38): allows
        IrfanView to handle EXIF/IPTC/Comment information from compatible files</li>
    <li>MNG - (version 4.22): allows
        IrfanView to read/play MNG/JNG files</li>
   
    <li>MP3 - (version 3.90): allows
        IrfanView to play MP3/MP2/MP1 files</li>
    <li>MRC - (version 3.70): allows
        IrfanView to read MRC files</li>
    <li>MR-SID - (version 4.37): allows
        IrfanView to read LizardTech's SID files
        Note: this PlugIn needs additional DLLs, download/install from:
        <a href="http://www.irfanview.net/plugins/irfanview_mrsid_plugin.exe">http://www.irfanview.net/plugins/irfanview_mrsid_plugin.exe</a> (Installer)
        or
        <a href="http://www.irfanview.net/plugins/irfanview_mrsid_plugin.zip">http://www.irfanview.net/plugins/irfanview_mrsid_plugin.zip</a>
        
    </li>
    <li>NERO - (version 4.20): allows
        IrfanView to burn slideshow to data or Video CD, using Nero Burning ROM
        software</li>
    <li>OCR_KADMOS - (version 4.4y): adds OCR features to IrfanView
        PlugIn download: <a href="http://www.irfanview.info/plugins/kadmos/" target="_blank">http://www.irfanview.info/plugins/kadmos/</a>
    </li>
    <li>PAINT - (version 0.4.13.70): allows
        IrfanView to to paint lines, circles, arrows, straighten image etc.</li>
    <li>PHOTO-CD - (version 3.00):
        allows IrfanView to read Kodak PCD files (high resolutions)</li>
    <li>PNGOUT - (version Jan 18 2006):
        allows optimized PNG saving</li>
    <li>POSTSCRIPT - (version 4.38):
        allows IrfanView to read EPS/PS/PDF files (using <a href="http://sourceforge.net/projects/ghostscript/" target="_blank">Ghostscript</a>, take the 32-bit (!) EXE installer, like "gs904w32.exe")</li>
    <li>QUICKTIME - (version 4.28):
        allows IrfanView to play/read Apple Quicktime files</li>
    <li>REAL-AUDIO - (version 3.37):
        allows IrfanView to play Real-Audio RA files</li>
    <li>REGIONCAPTURE - (version 2.3.0):
        allows IrfanView to capture a rectangle area of the screen</li>
    <li>RIOT - (version 0.3.3.0):
        allows IrfanView to save optimized JPG/GIF/PNG files (RIOT - Radical Image Optimization Tool)
        The basic PlugIn version will be installed with IrfanView Plugins.
        An advanced (or newer) version can be downloaded here: <a href="http://luci.criosweb.ro/download/Riot-plugin.exe" target="_blank">http://luci.criosweb.ro/download/Riot-plugin.exe</a>
        </li>
    <li>SFF - (version 4.22): allows
        IrfanView to read SFF (Structured Fax) Files</li>
    <li>SLIDESHOW - (version 4.37):
        allows IrfanView to create presentations in EXE or SCR format (standalone
        executable/screen saver)</li>
    <li>SOUND_PLAYER - (version 3.80):
        allows IrfanView to play OGG files (Ogg Vorbis)</li>
    <li>TOOLS - (version 4.38): contains some additional functions/features for IrfanView</li>
    <li>VIDEO - (version 4.35): allows
        IrfanView to play many video/sound formats</li>
    <li>VTF - (version 3.99): allows
        IrfanView to VTF (Valve Texture) files</li>
    <li>WBZ - (version 1.00): allows
        IrfanView to read WebShots (WBZ/WBC/WB1) files</li>
    <li>WEBP - (version 4.36): allows
        IrfanView to read/write WEBP (Weppy Format) files</li>
    <li>WSQ - (version 2008.12.16): allows
        IrfanView to WSQ (Wavelet Scaler Quantization) files</li>
</ul>
<h4>
    For developers: If you want to write your own plugins for IrfanView
    (support for new image formats or effects (please, no private formats)),
    please send me an email for details.
</h4>