<h3>How to install additional toolbar skins for IrfanView 4.00 or later?</h3>
<ol>
    <li>Download toolbar ZIP file (click on the toolbar image below)</li>
    <li>Unzip the downloaded file into your "IrfanView\Toolbars\" folder</li>
    <li>Start IrfanView and go to "Properties->Toolbars"</li>
</ol>
<p>Designers: if you create a new toolbar skin, please send me an email with the PNG/TXT files.</p>
<p><strong>A huge THANKS to all users sending me icons and toolbars during last years!</strong></p>

<h3>Available toolbar skins for IrfanView 4.00+</h3>

<ul class="skin-list">

    <li><a href="http://www.irfanview.com/skins/irfanview_skin_grosberg.zip"> <img src="@routes.Assets.at("images/skins/grosberg.png")" alt="IrfanView skin"></a>
    <br>Creator: Michael Grosberg, Button sizes: 16x16, 24x24, 32x32
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_samuel.zip"> <img src="@routes.Assets.at("images/skins/samuel.png")" alt="IrfanView skin"></a>
    <br>Creator: Samuel Plentz, Button sizes: 16x16, 24x24, 32x32, 48x48
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_irfanview_example.zip"> <img src="@routes.Assets.at("images/skins/irfanview_example.png")" alt="IrfanView skin"></a>
    <br>Creator: Horizon Software and IrfanView, Button sizes: 16x16, 24x24, 32x32, 48x48
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_techlogica.zip"> <img src="@routes.Assets.at("images/skins/techlogica.png")" alt="IrfanView skin"></a>
    <br>Creator: Andy Haugh, Button sizes: 16x16, 32x32
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_sonic.zip"> <img src="@routes.Assets.at("images/skins/sonic.png")" alt="IrfanView skin"></a>
    <br>Creator: Federico - Sonic, Button sizes: 16x16, 24x24, 32x32, 48x48
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_xpde.zip"> <img src="@routes.Assets.at("images/skins/xpde.png")" alt="IrfanView skin"></a>
    <br>Creator:  Dmitri Poguliayev, Button sizes: 16x16
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_tombik.zip"> <img src="@routes.Assets.at("images/skins/tombik.png")" alt="IrfanView skin"></a>
    <br>Creator: Tombik, Button sizes: 24x24
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_gnome.zip"> <img src="@routes.Assets.at("images/skins/gnome.png")" alt="IrfanView skin"></a>
    <br>Creator: Matias Nicolas B., Button sizes: 16x16, 24x24, 32x32
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_gnome_colors.zip"> <img src="@routes.Assets.at("images/skins/gnome_colors_wise.png")" alt="IrfanView skin"></a>
    <br>Creator: Heldy http://isnominevacans.deviantart.com, Button sizes: 16,22, 32, 48 (9 skins)
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_gulp21.zip"> <img src="@routes.Assets.at("images/skins/gulp21.png")" alt="IrfanView skin"></a>
    <br>Creator: Gulp21, Button sizes: 24x24
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_codemonkey.zip"> <img src="@routes.Assets.at("images/skins/codemonkey.png")" alt="IrfanView skin"></a>
    <br>Creator: Codemonkey, Button sizes: 16x16, 24x24
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_nuovext.zip"> <img src="@routes.Assets.at("images/skins/nuovext_black.png")" alt="IrfanView skin"></a>
    <br>Creator: nuoveXT Black by spacepenguin, Button sizes: 24x24, 32x32
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_nuvola.zip"> <img src="@routes.Assets.at("images/skins/nuvola.png")" alt="IrfanView skin"></a>
    <br>Creator: David Vignoni/Shawn Cunningham, Button sizes: 16x16, 22x22, 32x32, 48x48
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_crystal_clear.zip"> <img src="@routes.Assets.at("images/skins/crystal_clear.png")" alt="IrfanView skin"></a>
    <br>Creator: Fran/Everaldo, Button sizes: 24x24, 32x32
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_clickfish.zip"> <img src="@routes.Assets.at("images/skins/clickfish.png")" alt="IrfanView skin"></a>
    <br>Creator: Arno Krumpholz (clickfish), Button sizes: 24x24 (2 skins)
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_office.zip"> <img src="@routes.Assets.at("images/skins/office.png")" alt="IrfanView skin"></a>
    <br>Creator: Yanko Andreev, Button sizes: 32x32
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_win8.zip"> <img src="@routes.Assets.at("images/skins/win8.png")" alt="IrfanView skin"></a>
    <br>Creator: Soluque, Button sizes: 24x32, 32x32, 48x48, 64x64
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_win8_2.zip"> <img src="@routes.Assets.at("images/skins/win8_2.png")" alt="IrfanView skin"></a>
    <br>Creator: DracheMitch, Button sizes: 32x32
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_krimon_mac.zip"> <img src="@routes.Assets.at("images/skins/krimon_mac.png")" alt="IrfanView skin"></a>
    <br>Creator: Donatas Juska, Button sizes: 24x24, 32x32, 48x48
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_stevie.zip"> <img src="@routes.Assets.at("images/skins/stevie.png")" alt="IrfanView skin"></a>
    <br>Creator: Stevie, Button sizes: 16x16, 24x24
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_gnome_human.zip"> <img src="@routes.Assets.at("images/skins/gnome_human.png")" alt="IrfanView skin"></a>
    <br>Creator: Nemeth "mandala" Gabor, Button sizes: 16x16, 24x24
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_ocean_blue.zip"> <img src="@routes.Assets.at("images/skins/ocean_blue.png")" alt="IrfanView skin"></a>
    <br>Creator: Lover's Horizon Design, Button sizes: 24x24, 32x32, 48x48
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_tango.zip"> <img src="@routes.Assets.at("images/skins/tango.png")" alt="IrfanView skin"></a>
    <br>Creator: Renat S., Button sizes: 16x16, 24x24, 32x32
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_iconshow.zip"> <img src="@routes.Assets.at("images/skins/iconshow.png")" alt="IrfanView skin"></a>
    <br>Creator: Jürgen Schaetzke, <a href="http://www.IconShow.de" target="_blank">www.IconShow.de</a>, Button sizes: 16, 24, 32, 48
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_fugue.zip"> <img src="@routes.Assets.at("images/skins/fugue.png")" alt="IrfanView skin"></a>
    <br>Creator: Icons by Y. Kamiyamane/Assembled by Paul Kibe, Button sizes: 16x16, 24x24
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_ahasoft.zip"> <img src="@routes.Assets.at("images/skins/aha_soft.png")" alt="IrfanView skin"></a>
    <br>Creator: Icons by www.aha-soft.com/Assembled by Paul Kibe, Button sizes: 24x24, 32x32
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_fatfarm.zip"> <img src="@routes.Assets.at("images/skins/fatfarm.png")" alt="IrfanView skin"></a>
    <br>Creator: Icons by www.fatfarm.com/Assembled by Paul Kibe, Button sizes: 16x16, 32x32
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_axialis.zip"> <img src="@routes.Assets.at("images/skins/axialis.png")" alt="IrfanView skin"></a>
    <br>Creator: Icons by Axialis Software/Assembled by Paul Kibe, Button sizes: 16, 24, 32
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_momentum.zip"> <img src="@routes.Assets.at("images/skins/momentum.png")" alt="IrfanView skin"></a>
    <br>Creator: Icons by Momentum Design Lab/Assembled by Paul Kibe, Button sizes: 16, 32
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_chalk.zip"> <img src="@routes.Assets.at("images/skins/chalk.png")" alt="IrfanView skin"></a>
    <br>Creator: Icons by Dave Shea/Assembled by Paul Kibe, Button sizes: 16, 24, 32
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_visual_pharm.zip"> <img src="@routes.Assets.at("images/skins/visual_pharm.png")" alt="IrfanView skin"></a>
    <br>Creator: Icons by www.visualpharm.com/Assembled by Paul Kibe, Button sizes: 16, 24, 32
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_crystalproject.zip"> <img src="@routes.Assets.at("images/skins/crystalproject.png")" alt="IrfanView skin"></a>
    <br>Creator: Icons by Everaldo Coelho/Assembled by Paul Kibe, Button sizes: 16, 24, 32
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_oxygen.zip"> <img src="@routes.Assets.at("images/skins/oxygen.png")" alt="IrfanView skin"></a>
    <br>Creator: Icons by Oxygen Team/Assembled by Paul Kibe, Button sizes: 16, 24, 32
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_vista_win7.zip"> <img src="@routes.Assets.at("images/skins/vista_win7.png")" alt="IrfanView skin"></a>
    <br>Creator: Icons by Microsoft/Assembled by Paul Kibe, Button sizes: 16, 24, 32
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_iconshock.zip"> <img src="@routes.Assets.at("images/skins/iconshock.png")" alt="IrfanView skin"></a>
    <br>Creator: Icons by IconShock/Assembled by Paul Kibe, Button sizes: 24, 32
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_aspnet.zip"> <img src="@routes.Assets.at("images/skins/aspnet.png")" alt="IrfanView skin"></a>
    <br>Creator: Icons by www.aspneticons.com/Assembled by Paul Kibe, Button sizes: 16
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_willow.zip"> <img src="@routes.Assets.at("images/skins/willow.png")" alt="IrfanView skin"></a>
    <br>Creator: Wilko Frenzel, Button sizes: 32x32, 86x86
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_led.zip"> <img src="@routes.Assets.at("images/skins/led.png")" alt="IrfanView skin"></a>
    <br>Creator: Icons by LED(www.led24.de/iconset)/Assembled by Paul Kibe, Button sizes: 16
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_technitronik.zip"> <img src="@routes.Assets.at("images/skins/technitronik.png")" alt="IrfanView skin"></a>
    <br>Creator: Icons by Technitronik, Button sizes: 24, 32, 48, 64
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_evo.zip"> <img src="@routes.Assets.at("images/skins/evo.png")" alt="IrfanView skin"></a>
    <br>Creator: Cerem Beyazyt, Button sizes: 24x24
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_edgard.zip"> <img src="@routes.Assets.at("images/skins/edgard.png")" alt="IrfanView skin"></a>
    <br>Creator: Edgard Noel, Button sizes: 32x32, 48x48
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_corel_draw.zip"> <img src="@routes.Assets.at("images/skins/corel_draw.png")" alt="IrfanView skin"></a>
    <br>Creator: Matias Nicolas B., Button sizes: 16x16, 24x24, 32x32
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_amadeus.zip"> <img src="@routes.Assets.at("images/skins/amadeus.png")" alt="IrfanView skin"></a>
    <br>Creator: Alejandro Amadeus Castro Vega, Button sizes: 16x16, 24x24, 32x32, 40x40
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_ak_black.zip"> <img src="@routes.Assets.at("images/skins/ak_black.png")" alt="IrfanView skin"></a>
    <br>Creator: Aleks Krusch, Button sizes: 16x16, 24x24, 48x48
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_b_balls.zip"> <img src="@routes.Assets.at("images/skins/b_balls.png")" alt="IrfanView skin"></a>
    <br>Creator: Marcin Opalczynski, Button sizes: 16x16, 24x24, 32x32
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_metroblue.zip"> <img src="@routes.Assets.at("images/skins/metroblue.png")" alt="IrfanView skin"></a>
    <br>Creator: Yanko Andreev, Button sizes: 24x24, 32x32
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_black.zip"> <img src="@routes.Assets.at("images/skins/black.png")" alt="IrfanView skin"></a>
    <br>Creator: Jonathan Rice
    , Button sizes: 16x16, 18x18, 19x19, 24x24, 48x48
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_win7.zip"> <img src="@routes.Assets.at("images/skins/win7.png")" alt="IrfanView skin"></a>
    <br>Creator: jwils876.deviantart.com, Button sizes: 16x16, 24x24, 32x32
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_bong.zip"> <img src="@routes.Assets.at("images/skins/bong.png")" alt="IrfanView skin"></a>
    <br>Creator: Marlon Bong, Button sizes: 16x16
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_denis_m.zip"> <img src="@routes.Assets.at("images/skins/dennis_m.png")" alt="IrfanView skin"></a>
    <br>Creator: Dennis Murczak, Button sizes: 16x16
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_mefhisto.zip"> <img src="@routes.Assets.at("images/skins/mefhisto.png")" alt="IrfanView skin"></a>
    <br>Creator: Mefhisto, Button sizes: 16x16
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_mr_anderson.zip"> <img src="@routes.Assets.at("images/skins/mr_anderson.png")" alt="IrfanView skin"></a>
    <br>Creator: Sergey (Mr. Anderson), Button sizes: 16x16
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_ryan_s.zip"> <img src="@routes.Assets.at("images/skins/ryan_s.png")" alt="IrfanView skin"></a>
    <br>Creator: Ryan S, Button sizes: 16x16
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_phoenity.zip"> <img src="@routes.Assets.at("images/skins/phoenity.png")" alt="IrfanView skin"></a>
    <br>Creator: Lim Chee Aun (Phoenity), Button sizes: 16x16, 24x24
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_phoenity_aura.zip"> <img src="@routes.Assets.at("images/skins/phoenity_aura.png")" alt="IrfanView skin"></a>
    <br>Creator: Lim Chee Aun (Phoenity), Button sizes: 24x24
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_leila.zip"> <img src="@routes.Assets.at("images/skins/leila.png")" alt="IrfanView skin"></a>
    <br>Creator: Leila (4 skins), Button sizes: 16x16, 24x24
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_boesch.zip"> <img src="@routes.Assets.at("images/skins/boesch.png")" alt="IrfanView skin"></a>
    <br>Creator: Olivier Boesch, Button sizes: 16x16
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_rtpc.zip"> <img src="@routes.Assets.at("images/skins/rtpc.png")" alt="IrfanView skin"></a>
    <br>Creator: rtpc, Button sizes: 16x16, 24x24, 32x32
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_icandy.zip"> <img src="@routes.Assets.at("images/skins/icandy.png")" alt="IrfanView skin"></a>
    <br>Creator: Baltasar, Button sizes: 16x16, 24x24, 32x32
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_ghoulie.zip"> <img src="@routes.Assets.at("images/skins/ghoulie.png")" alt="IrfanView skin"></a>
    <br>Creator: Le_Ghoulie, Button sizes: 16x16, 24x24
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_krimon.zip"> <img src="@routes.Assets.at("images/skins/krimon.png")" alt="IrfanView skin"></a>
    <br>Creator: Donatas Juska, Button sizes: 16x16, 24x24
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_kids.zip"> <img src="@routes.Assets.at("images/skins/kids.png")" alt="IrfanView skin"></a>
    <br>Creator: Donatas Juska, Button sizes: 16x16, 24x24, 32x32
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_grant1.zip"> <img src="@routes.Assets.at("images/skins/grant1.png")" alt="IrfanView skin"></a>
    <br>Creator: grant, Button sizes: 24x24
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_zarthwork.zip"> <img src="@routes.Assets.at("images/skins/zarthwork.png")" alt="IrfanView skin"></a>
    <br>Creator: Martin Zarth, Button sizes: 24x24
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_penn.zip"> <img src="@routes.Assets.at("images/skins/penn.png")" alt="IrfanView skin"></a>
    <br>Creator: Jyri Pennanen, Button sizes: 32x32, 48x48
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_penn2.zip"> <img src="@routes.Assets.at("images/skins/penn2.png")" alt="IrfanView skin"></a>
    <br>Creator: Jyri Pennanen, Button sizes: 32x32, 48x48
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_ghotbi.zip"> <img src="@routes.Assets.at("images/skins/ghotbi.png")" alt="IrfanView skin"></a>
    <br>Creator: ghotbi, Button sizes: 24x24
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_madelin.zip"> <img src="@routes.Assets.at("images/skins/madelin.png")" alt="IrfanView skin"></a>
    <br>Creator: madelin, Button sizes: 16x16, 19x19, 24x24
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_grant2.zip"> <img src="@routes.Assets.at("images/skins/grant2.png")" alt="IrfanView skin"></a>
    <br>Creator: grant, Button sizes: 24x24
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_oko_monochrome.zip"> <img src="@routes.Assets.at("images/skins/oko_monochrome.png")" alt="IrfanView skin"></a>
    <br>Creator: Oliver Kowalewski, Button sizes: 16x16, 24x24, 32x32
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_r_ruffin.zip"> <img src="@routes.Assets.at("images/skins/r_ruffin.png")" alt="IrfanView skin"></a>
    <br>Creator: r.ruffin, Button sizes: 24x24, 32x32, 48x48
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_tbc.zip"> <img src="@routes.Assets.at("images/skins/tbc.png")" alt="IrfanView skin"></a>
    <br>Creator: M.Lee, Button sizes: 56x56, 64x64, 72x72
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_tbc_dutch.zip"> <img src="@routes.Assets.at("images/skins/tbc_dutch.png")" alt="IrfanView skin"></a>
    <br>Creator: Jan (dutch text on icons), based on M.Lee icons, Button sizes: 56, 64, 72
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_tbc_portuguese.zip"> <img src="@routes.Assets.at("images/skins/tbc_pt.png")" alt="IrfanView skin"></a>
    <br>Creator: Dick Spade (portuguese text on icons), based on M.Lee icons, Button sizes: 56, 64, 72
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_uli_black.zip"> <img src="@routes.Assets.at("images/skins/uli_black.png")" alt="IrfanView skin"></a>
    <br>Creator: Ulrich Daum (german text on icons), Button sizes: 24, 32, 48
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_yanko.zip"> <img src="@routes.Assets.at("images/skins/yanko.png")" alt="IrfanView skin"></a>
    <br>Creator: Yanko Andreev, Button sizes: 48x48
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_m_sauke.zip"> <img src="@routes.Assets.at("images/skins/m_sauke.png")" alt="IrfanView skin"></a>
    <br>Creator: Manfred Sauke, Button sizes: 16x16
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_ectheme.zip"> <img src="@routes.Assets.at("images/skins/ectheme.png")" alt="IrfanView skin"></a>
    <br>Creator: Yevgeniy Skorokhodov, Button sizes: 16x16
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_niefer.zip"> <img src="@routes.Assets.at("images/skins/niefer.png")" alt="IrfanView skin"></a>
    <br>Creator: Niefer, Button sizes: 16x16
    </li>


    <li><a href="http://www.irfanview.com/skins/irfanview_skin_guidozonderrand.zip"> <img src="@routes.Assets.at("images/skins/guidozonderrand.png")" alt="IrfanView skin"></a>
    <br>Creator: Guido Andriol, Button sizes: 48x48
    </li>
</ul>