@import "variables";

#intro {

  #screenshot-wrapper {
    position: relative;
    img {
      display: block;
      margin: 0 auto 20px auto;
      max-width: 100%;
      .global-shadow;
    }

    #feature-list {
      list-style: none;
      position: absolute;
      right: 8%;
      top: 18%;

      font-size: 22px;
      text-align: right;
      color: white;
      .brand-font;
      text-shadow: 2px 2px black;
    }
  }

}
