@import "bootstrap/bootstrap";
@import "navbarOverride";
@import "navTabsOverride";


*{
  border-radius: 0px !important;
}

a {
  color: lighten(@brand, 15%);
  &:hover {
    color: darken(@brand, 5%);
  }
}

#page-content {
  padding-top: 65px;
}

.container {
  width: 100%;
  max-width: 1000px;
}