@import "bootstrap/bootstrap";
@import "variables";
@import "navbarOverride";
@import "navTabsOverride";

@import "index";
@import "download";
@import "donateButton";
@import "faq";

*{
  border-radius: 0px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{ overflow-y: scroll; }

body {
  background: url("../images/pattern.png");
  background-attachment: fixed;
}
h1, h2, h3, h4, h5{
  color: @brand;
  .brand-font;
}

a {
  color: lighten(@brand, 15%);
  &:hover {
    color: darken(@brand, 5%);
  }
}

#page-content {
  padding: 65px 0 15px 0;
  background: @brand-contrast;
  max-width: @page-width;
  margin: 0 auto;
  .global-shadow;
}

.container {
  width: 100%;
  max-width: @page-width;
}

footer { text-align: center; max-width: @page-width; margin: 0 auto; padding: 10px; font-size: 12px;}