@import "variables";
.navbar-inverse {
  .brand-font;
  font-size: 24px;
  background-color: @brand;
  .global-shadow;
  border-color:darken(@brand,5%);
  .navbar-nav {
    > .active > a, > .open > a, > .open > a, > .open > a:hover, > .open > a, > .open > a:hover, > .open > a:focus {
      background-color:darken(@brand,10%);
      color:@brand-contrast;
    }
    > .active > a:hover {
      background-color:darken(@brand,5%);
      color:@brand-contrast;
    }
    > .active > a:focus {
      color:@brand-contrast;
    }
    > li {
      > a:hover, > a:focus {
        background-color:darken(@brand,5%);
        color:@brand-contrast;
      }
      > a {
        color:@brand-contrast;
      }
    }
    > .dropdown > a .caret {
      border-top-color:@brand-contrast;
      border-bottom-color:@brand-contrast;
    }
    > .dropdown > a:hover .caret {
      border-top-color:@brand-contrast;
      border-bottom-color:@brand-contrast;
    }
    .open .dropdown-menu {
      *{ font-size: 18px; }
      background-color: darken(@brand,5%);
      > li > a {
        color: @brand-contrast;
        &:hover { background-color: darken(@brand,10%); }
      }
      .divider {
        background-color: @brand-contrast;
      }
    }
  }
  .navbar-brand {
    color:@brand-contrast;
    &:hover{
      color:@brand-contrast;
    }
  }
  .navbar-toggle {
    border-color:darken(@brand,15%);
    &:hover{ background-color: darken(@brand,5%); }
    &:focus{ background-color: darken(@brand,10%); }
  }
  .navbar-collapse, .navbar-form {
    border-color: darken(@brand,10%);
  }
}
.dropdown-menu {
  background-color:darken(@brand,5%);
  border-color:darken(@brand,20%);
  .global-shadow;
  > li {
    > a:hover, > a:focus {
      background-color:darken(@brand,10%);
      background-image:none;
      color:@brand-contrast;
    }
    > a {
      color:@brand-contrast;
    }
  }
}
.navbar-brand {
  padding: 5px 15px;
  img {
    max-height: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-inverse {
    font-size: 16px;
    .navbar-nav a { padding: 5px 15px;}
  }
}
