@main("IrfanView - About") {
    <h2>About IrfanView</h2>

    <p>
        IrfanView is a very fast, small, compact and innovative FREEWARE (for non-commercial use) graphic viewer
        for Windows 9x, ME, NT, 2000, XP, 2003 , 2008, Vista, Windows 7, Windows 8.
    </p>
    <p>
        It is designed to be simple for beginners and powerful for professionals.
    </p>

    <p>
        IrfanView seeks to create unique, new and interesting features, unlike some other graphic viewers,
        whose whole "creativity" is based on feature cloning, stealing of ideas and whole dialogs from ACDSee and/or
        IrfanView! (for example: XnView has been stealing/cloning features and whole dialogs from IrfanView, for 10+ years).
    </p>

    <p>
        IrfanView was the first Windows graphic viewer WORLDWIDE with Multiple (animated) GIF support.
        One of the first graphic viewers WORLDWIDE with Multipage TIF support.
        The first graphic viewer WORLDWIDE with Multiple ICO support.
    </p>

    <h2>About the author</h2>

    <p>
        I would like to sincerely thank all you faithful IrfanView (pronounce "EarfanView") users who send me messages
        of good wishes, congratulations and appreciation. It is often difficult for me to answer all the e-mail
        I receive, but I would like you to know that every one of your messages are read and appreciated.
    </p>

    <p>
        In the years since IrfanView hit the Net I've received more than 65,000 e-mail messages thanking me,
        congratulating me, and wishing me well. And at least a dozen women have wanted me to be the father of
        their children ;-) I've tried to answer all the messages with at least a Thank You.
        I very much appreciate all the messages I receive.
        Thank you!
    </p>

    <p>
        Nachdem ich seit einigen Jährchen in Österreich bin und in Wien studiert habe, spreche ich selbstverständlich
        auch Deutsch und Sie können es in Ihren Mails benutzen. Deutsch verstehe ich wesentlich besser als Englisch ;-)
        Eine deutsche Version von IrfanView gibt es natürlich auch :-)
        Viel Spass mit dem Programm ...
    </p>

    <p>
        Zdravo raja. Kao sto se gore vidi, ja sam Bosanac, dolazim iz Jajca (lijevog :-) i ja cu se veoma obradovati
        ako mi neko nesto na nasem posalje. Pod "nasim" podrazumijevam sve one jezike koje su se nekada u Ex-YU
        govorili, bez obzira kako ih neki "intelektualci" sada nazivaju.
        Zato navali raja, ali molim vas bez politike ...
    </p>

}