@main("IrfanView - Download") {
    <section id="download-sec">

        @views.html.partials.donate()

        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#download" role="tab" data-toggle="tab">Download</a></li>
            <li><a href="#plugins" role="tab" data-toggle="tab">Plugins</a></li>
            <li><a href="#skins" role="tab" data-toggle="tab">Skins</a></li>
            <li><a href="#languages" role="tab" data-toggle="tab">Additional languages</a></li>
            <li><a href="#changelog" role="tab" data-toggle="tab">Changelog</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="download">
                @views.html.downloadTabs.download()
            </div>
            <div class="tab-pane" id="plugins">
                @views.html.downloadTabs.plugins()
            </div>
            <div class="tab-pane" id="skins">
                @views.html.downloadTabs.skins()
            </div>
            <div class="tab-pane" id="languages">
                @views.html.downloadTabs.languages()
            </div>
            <div class="tab-pane" id="changelog">
                @views.html.downloadTabs.changelog()
            </div>
        </div>

    </section>
}
