@main("IrfanView - Frequently Asked Questions") {
    <section id="faq-sec">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#basic" role="tab" data-toggle="tab">Basic</a></li>
            <li><a href="#advancedadmin" role="tab" data-toggle="tab">Advanced/admin questions</a></li>
            <li><a href="#tutorials" role="tab" data-toggle="tab">Tutorials</a></li>
            <li><a href="#languages" role="tab" data-toggle="tab">Other languages</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="basic">
            @views.html.faqTabs.basic()
            </div>
            <div class="tab-pane" id="advancedadmin">
            @views.html.faqTabs.advancedAdmin()
            </div>
            <div class="tab-pane" id="tutorials">
            @views.html.faqTabs.tutorials()
            </div>
            <div class="tab-pane" id="languages">
            @views.html.faqTabs.languages()
            </div>
        </div>
    </section>
}