@main("IrfanView - One of the most popular viewers worldwide") {
    <section id="intro">
        <h1 class="text-center">IrfanView - One of the most popular media viewers worldwide</h1>
        <div id="screenshot-wrapper">
            <img class="image-responsive" src="@routes.Assets.at("images/screenshot.jpg")">
            <ul id="feature-list" class="hidden-xxs">
                <li>• view</li>
                <li>• convert</li>
                <li>• optimize</li>
                <li>• scan & print</li>
                <li>• batch processing</li>
                <li>• create slideshows</li>
                <li>• play audio and movies</li>
                <li>• and much, much more....</li>
            </ul>
        </div>
    </section>
}
