@main("IrfanView - One of the most popular viewers worldwide") {
    <section id="intro">
        <h1 class="text-center">IrfanView - One of the most popular media viewers worldwide</h1>
        <div id="screenshot-wrapper">
            <img class="image-responsive" src="@routes.Assets.at("images/screenshot.jpg")" alt="IrfanView screenshot">
            <ul id="feature-list" class="hidden-xxs">
                <li>• view</li>
                <li>• convert</li>
                <li>• optimize</li>
                <li>• scan & print</li>
                <li>• batch processing</li>
                <li>• create slideshows</li>
                <li>• play audio and movies</li>
                <li>• and much, much more....</li>
            </ul>
        </div>
        <h2>Thank you!</h2>
        <p>
            I would like to sincerely thank all the faithful IrfanView users who
            send me messages of good wishes, congratulations and appreciation.
        </p>
    </section>
    <section id="whatis">

        <h2>What is IrfanView?</h2>

        <p>
            IrfanView is a very fast, small, compact and innovative FREEWARE (for non-commercial use) graphic viewer
            for Windows 9x, ME, NT, 2000, XP, 2003 , 2008, Vista, Windows 7, Windows 8.
        </p>
        <p>
            It is designed to be simple for beginners and powerful for professionals.
        </p>

        <p>
            IrfanView seeks to create unique, new and interesting features, unlike some other graphic viewers,
            whose whole "creativity" is based on feature cloning, stealing of ideas and whole dialogs from ACDSee and/or
            IrfanView! (for example: XnView has been stealing/cloning features and whole dialogs from IrfanView, for 10+ years).
        </p>

        <p>
            IrfanView was the first Windows graphic viewer WORLDWIDE with Multiple (animated) GIF support.
            One of the first graphic viewers WORLDWIDE with Multipage TIF support.
            The first graphic viewer WORLDWIDE with Multiple ICO support.
        </p>

        <h2>Some features</h2>

        <ul>
            <li>Many supported file formats <a href="">(full list)</a></li>
            <li>Multi language support</li>
            <li>Thumbnail/preview option</li>
            <li>Paint option - to draw lines, circles, arrows, straighten image etc.</li>
            <li>Toolbar skins option</li>
            <li>Slideshow (save slideshow as EXE/SCR or burn it to CD)</li>
            <li>Show EXIF/IPTC/Comment text in Slideshow/Fullscreen etc.</li>
            <li>Support for Adobe Photoshop Filters</li>
            <li>Fast directory view (moving through directory)</li>
            <li>Batch conversion (with advanced image processing)</li>
            <li>Multipage TIF editing</li>
            <li>File search</li>
            <li>Email option</li>
            <li>Multimedia player</li>
            <li>Print option</li>
            <li>Support for embedded color profiles in JPG/TIF</li>
            <li>Change color depth</li>
            <li>Scan (batch scan) support</li>
            <li>Cut/crop</li>
            <li>Add overlay text/image (watermark)</li>
            <li>IPTC editing</li>
            <li>Effects (Sharpen, Blur, Adobe 8BF, Filter Factory, Filters Unlimited, etc.)</li>
            <li>Screen Capturing</li>
            <li>Extract icons from EXE/DLL/ICLs</li>
            <li>Lossless JPG rotation</li>
            <li>Shell Extension PlugIn</li>
            <li>Unicode support</li>
            <li>Many hotkeys</li>
            <li>Many command line options</li>
            <li>Many PlugIns</li>
            <li>Only one EXE-File, no DLLs, no Shareware messages like "I Agree" or "Evaluation expired"</li>
            <li>No registry changes without user action/permission!</li>
            <li>and much, much more</li>
        </ul>

    </section>
}
