@main("IrfanView - One of the most popular viewers worldwide") {
    <section id="intro">
        <h1 class="text-center">IrfanView - One of the most popular media viewers worldwide</h1>
        <p>
            IrfanView is a very fast, small, compact and innovative freeware (for non-commercial use) graphic viewer
            for Windows 9x, ME, NT, 2000, XP, 2003 , 2008, Vista, Windows 7, Windows 8.<br>
            It is designed to be simple for beginners and powerful for professionals,
            and seeks to create unique, new and interesting features.
        </p>
        <div id="screenshot-wrapper">
            <img class="image-responsive" src="@routes.Assets.at("images/screenshot.jpg")" alt="IrfanView screenshot">
            <ul id="feature-list" class="hidden-xxs">
                <li>• view</li>
                <li>• convert</li>
                <li>• optimize</li>
                <li>• scan & print</li>
                <li>• batch processing</li>
                <li>• create slideshows</li>
                <li>• play audio and movies</li>
                <li>• and much, much more....</li>
            </ul>
        </div>
        <h2>Thank you!</h2>
        <p>
            I would like to sincerely thank all the faithful IrfanView users who
            send me messages of good wishes, congratulations and appreciation.
        </p>
    </section>
}
